#Database
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_DB="postgres"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="root"

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

# JWT
JWT_SECRET="YOUR_SECRET_KEY"
JWT_EXPIRES_IN="1h"

REFRESH_JWT_SECRET="YOUR_REFRESH_KEY"
REFRESH_EXPIRES_IN="7d"